html {
    height: 100%
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 12px
}

@font-face {
    font-family: "SimplyMono-Bold";
    src: url(smb.ttf)
}