; begin auth token
//pkgs.dev.azure.com/vertigis/Studio/_packaging/Studio/npm/registry/:username=vertigis
//pkgs.dev.azure.com/vertigis/Studio/_packaging/Studio/npm/registry/:_password=aXYydW9tYmN5dmRid2I1YnI2NmZkcWY1cGZyeGp4a2F0MmFoZ2JudjNhZ2NpYmZjejVuYQ==
//pkgs.dev.azure.com/vertigis/Studio/_packaging/Studio/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/vertigis/Studio/_packaging/Studio/npm/:username=vertigis
//pkgs.dev.azure.com/vertigis/Studio/_packaging/Studio/npm/:_password=aXYydW9tYmN5dmRid2I1YnI2NmZkcWY1cGZyeGp4a2F0MmFoZ2JudjNhZ2NpYmZjejVuYQ==
//pkgs.dev.azure.com/vertigis/Studio/_packaging/Studio/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

@vertigis-internal:registry=https://pkgs.dev.azure.com/vertigis/Studio/_packaging/Studio/npm/registry/

always-auth=true